/node_modules
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env
.env.*.php
.env.php
.rocketeer/

